* {
    padding: 0;
    margin: 0;
}

a {
    all: unset;
}

html,
body {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

body {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 10 10px;
    background-color: #5D5959
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 7px #fff) padding: 10px 10px;
    height: 100px;
    background: #292525;
}

.div1 {
    display: flex;
    align-items: flex-start;
    left: 0px;
    top: 0px;
}

.div2 {
    display: flex;
    align-items: flex-start;
    left: 0px;
    top: 0px;
}

.div3 {
    text-align: center;
    color: white;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo3 {
    width: 150px;
    height: 150px;
}

.name {
    font-family: 'Inter';
    color: #FFFFFF;
    text-shadow: -20px -20px 40px rgba(255, 255, 255, 1);
}

.logo1 {
    width: 35px;
    height: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    color: #FFFFFF;
    background: #3E3C3C;
    font-size: 18px;
}

.navbar__list {
    display: flex;
}

.navbar__item:hover {
    color: grey;
    cursor: pointer;
    text-decoration: underline;
}

.navbar__item:not(:last-child) {
    margin-right: 20px;
}

.top {
    text-align: justify;
    color: #ffff;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.title {
    font-family: 'Inter';
    letter-spacing: -0.02em;
    color: #fff;

}

.left-side {
    background: #5D5959;
    max-width: 450px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-left: 20px;
    min-height: 360px;
    filter: drop-shadow(1px 1px 5px #fff);
    text-align: justify;
    font-family: 'Inter';
    color: #fff;
}

.right-side {
    background: #3E3C3C;
    max-width: 350px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 60px;
    min-height: 360px;
    filter: drop-shadow(1px 1px 5px #fff);
    text-align: justify;
    font-family: 'Inter';
    color: #FFFFFF;
}

.footer {
    display: flex;
    padding: 5px 5px;
    background: #292525;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    color: #FFFFFF;


}

.call-button {
    all: unset;
    background-color: #095986;
    padding: 7px 15px;
    border-radius: 15px;
    color: #E2E2E2;
}

.call-button:hover {
    background-color: #3F6DA1;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    width: 70%;
}



@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.ticker {
    overflow: hidden;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    min-height: 40px;
}

.ticker span {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    padding-left: 100%;
    animation: scroll 15s infinite linear;
}



@media screen and (max-width: 786px) {
    .main {
        flex-direction: column;
    }

    .left-side {
        max-width: 100%;
        margin-bottom: 5px;

    }

    .right-side {
        max-width: 100%;
        margin-bottom: 5px;

    }

    .navbar__item {
        margin: 0 !important;
    }

    .navbar__list {
        flex-wrap: wrap;
        max-width: 300px;
        justify-content: space-evenly;
        gap: 5px;
    }
}

@media screen and (max-width: 480px) {
    .name {
        font-size: 28px;
    }

    .logo {
        display: none;
    }

    .call-button {
        padding: 5px 10px;
    }

    .image-list {
        flex-direction: column;
    }
}
